
.search-card {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    border-width: 1px !important;
    box-shadow: none;
}

hr {
    margin-bottom: 50px;
}

.search-card:hover {
    transform: scale(1);
}

.nav-link {
    color :grey;
}

.nav-link:hover{
    color: black;
}