.submit-btn {
    border: none;
    background-color: #EEB774;
    max-width: 150px;
    margin-top: 20px;
}
.submit-btn:hover{
        background-color: #EEB774;
}

.text-input::placeholder {
    color: #c4c4c4;
}

.icon {
    margin-bottom: 5px;
    margin-right: 10px ;
}